.featuremain {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #10A174, #003828);
    width: 100%;
    height: 100vh;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
    background: rgba(0, 57, 41, 1);
}

.img {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.imgfeature {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: auto;
    height: 100vh;
    margin-top: -70px;
    margin-left: 40px;
}

.text {
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 30px;
}

.bottomimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 152, 110, 1);
    height: 100px;
    width: 100%;
}

.bottomimg img {
    height: 800px;
    width: 1300px;
}

.featuremain .button button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: whitesmoke;
    font-size: 16px;
    border-radius: 8px;
}

.logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 800px;
    top: 476px;
    left: 300px;
    background-color: red;
}

@media screen and (max-width: 800px) {
    .background {
        width: 100%;
        height: 200vh;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 150vh;
        margin-top: 90px;
    }

    .text {
        top: 80px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 400px;
        z-index: 1;
        background-color: red;
    }

}