.featuremain {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #10A174, #003828);
    width: 100%;
    height: 100vh;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
    background: rgba(0, 57, 41, 1);
}

.img {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.imgfeature {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: auto;
    height: 100vh;
    margin-top: -70px;
    margin-left: 40px;
}

.text {
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 30px;
}

.bottomimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 152, 110, 1);
    height: 100px;
    width: 100%;
}

.bottomimg img {
    height: 800px;
    width: 1300px;
}

.featuremain .button button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: whitesmoke;
    font-size: 16px;
    border-radius: 8px;
}

.logo img {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    top: 450px;
    left: 360px;
    gap: 0px;
    opacity: 0px;
    width: 700px;
    height: auto;
}

@media screen and (max-width: 800px) {
    .background {
        width: 100%;
        height: 200vh;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 150vh;
        margin-top: 90px;
    }

    .text {
        top: 80px;
    }

    .logo img {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 200px;
        margin-top: -40px;
        margin-left: -150px;
    }

}

@media screen and (min-width:650px) and (max-width:1075px) {
    .logo img {
        top: 540px;
        left: 340px;
        width: 400px;
        height: 300px;
    }
}

@media screen and (min-width:360px) and (max-width:650px) {
    .logo img {
        top: 605px;
        left: 250px;
        width: 300px;
        height: 210px;
    }
}

@media screen and (min-width:100px) and (max-width:360px) {
    .logo img {
        top: 640px;
        left: 150px;
        width: 300px;
        height: 150px;
    }
}