.contactmain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contactback {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    background: rgba(0, 57, 41, 1);
    position: relative;
}

.contactimg {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: 60px;
}

@media screen and (min-width:300px) and (max-width: 600px) {
    .contactimg img {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 500px;
        margin-top: 90px;
    }

    .contactimg {
        margin-top: 0px;
        left: 30px;
        width: 250px;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .contactimg {
        width: 1000px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .contactimg {
        width: 1000px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .contactimg {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .contactimg {
        width: 1200px;
    }
}