.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #10A174, #003828);
    width: 100%;
    height: auto;
}

.main .best {
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: 160px;
    color: transparent;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
    -webkit-text-stroke: 1px white;
}

.main .erp {
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: 160px;
    color: transparent;
    font-weight: 600;
    margin-top: 45px;
    margin-left: 30px;
    -webkit-text-stroke: 1px white;

}

.main .xbig {
    display: flex;
    flex-direction: column;
    z-index: 0;
    margin-top: -500px;
    margin-left: 250px;
    gap: 0px;
    opacity: 0px;

}

.main .para p {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-top: -150px;
    margin-left: 15px;
    width: 400px;
}

.main .para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    margin-top: 20px;
    margin-left: 60px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 8px;
}

.main .para button {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 16px;
}

.indhan {
    display: flex;
    flex-direction: column;
}

.restxt {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    width: auto;
    margin-left: 30px;
}

.restxt button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: whitesmoke;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    left: 30px;
}

@media screen and (max-width: 1200px) {

    .main .best {
        height: 60px;
        font-size: 50px;
    }

    .main .erp {
        height: auto;
        font-size: 50px;
    }

    .main .xbig {
        margin-top: -10px;
        margin-left: 40px;
    }

    .indhan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: -10px;
        text-align: center;
    }
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .restxt {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:300px) and (max-width:800px) {
    .main .button button {
        display: none;
    }
}