.featuremain {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #10A174, #003828);
    width: 100%;
    height: 100vh;
}

.back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 57, 41, 1);
    position: relative;
}

.img {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.imgfeature {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: auto;
    height: 100vh;
    margin-top: -120px;
    margin-left: 40px;
    margin-right: 40px;
}

.text {
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    margin-top: 60px;
    margin-left: 30px;
}

.bottomimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 152, 110, 1);
    height: 100px;
    width: 100%;
}

.bottomimg img {
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    width: 1200px;
}

.featuremain .button button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: whitesmoke;
    font-size: 16px;
    border-radius: 8px;
}

.side {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    position: absolute;
    top: 45%;
    left: 5px;
    transform: translateY(-50%);
    margin-top: 125px;
}

.side p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 15px 0;
}

.side a {
    text-decoration: none;
    color: whitesmoke;
}

.logofeature {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    bottom: 0;
}

.logofeature img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:300px) and (max-width: 600px) {
    .background {
        width: 100%;
        height: 200vh;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
        margin-top: 90px;
    }

    .text {
        top: 80px;
    }

    .side {
        display: none;
    }

    .logofeature {
        width: 300px;
    }

    .featuremain .button button {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .logofeature {
        width: 450px;
    }

    .side {
        display: none;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
    }

    .featuremain .button button {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .logofeature {
        width: 500px;
    }

    .side {
        display: none;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .logofeature img {
        width: 550px;
    }

    .side {
        display: none;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .logofeature {
        width: 950px;
    }

    .imgfeature img {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
    }
}